/* #educate_me table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 10px;
} */

#recommendation {
  text-align: center;
  font-family: arial;
  border: thin black solid;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  margin-top: 30px;
  vertical-align: middle;
  padding-bottom: 25px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2;
}

#current_location {
  text-align: center;
  font-family: arial;
  margin-left: 15%;
  margin-right: 15%;

  margin-top: 80px;
  vertical-align: middle;
  padding-bottom: 0px;
  padding-top: 5px;
}

#trend_graphs {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#educate_me {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: arial, sans-serif;
  /* width: 1000px; */
  width: 70%;
  text-align: justify;
  background-color: rgb(205, 223, 247, 0.5);
  /* background-color: rgba(224, 168, 64, 0.1); */
  border-radius: 10pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  /* box-shadow: 5px 10px 10px lightgrey; */
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  margin: 0 auto;
  /* width: 100%; */
  /* padding-bottom: 50px; */
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

#educate_me h2 {
  text-shadow: 2px 2px 4px grey;
  color: black;
  /* text-shadow: 2px 2px 4px black; */
  /* color: white; */
}
